/apricityassets/src/apricityassets/extensions/
re
instructions
pr
*.docx
/apricityassets/apricityassets-*.pkg.tar.xz
/apricityassets/apricityassets.tar.gz
/apricityassets/pkg/
/build/install/
/build/out/
/build/work/
/build/airootfs/install/
/build/boot/
/build/airootfs/var
/build/pacman.conf
/cnchi/Cnchi-master.tar.gz
/cnchi/cnchi-*-any.pkg.tar.xz
/cnchi/pkg/
/cnchi/src/Cnchi-master.tar.gz
